# Xcode build artifacts
DerivedData/
DerivedData/**/Logs/
build/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.xcodeproj/project.xcworkspace/xcuserdata/
# Swift Package Manager
/.build/
/Packages/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Other
*.DS_Store
